USE [QUANLYTHUVIEN_DOAN_NET]
GO
/****** Object:  Table [dbo].[CHITIETMUONSACH]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETMUONSACH](
	[MAMUON] [nvarchar](10) NOT NULL,
	[MASACH] [nvarchar](10) NOT NULL,
	[NGAYMUON] [date] NULL,
	[NGAYSETRA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMUON] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [int] IDENTITY(1,1) NOT NULL,
	[TENCV] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MADG] [nvarchar](10) NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](300) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [nvarchar](12) NULL,
	[HINH] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[MALS] [nvarchar](10) NOT NULL,
	[TENLOAI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITAIKHOAN]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITAIKHOAN](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](100) NULL,
	[MACV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[MAPHAT] [nvarchar](10) NOT NULL,
	[MANV] [nvarchar](10) NULL,
	[NGAYPHAT] [date] NULL,
	[LUONGDM] [int] NULL,
	[SONGAYLAM] [int] NULL,
	[LUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](300) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [nvarchar](12) NULL,
	[NGAYVAOLAM] [date] NULL,
	[HINH] [nvarchar](300) NULL,
	[MACV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANXB] [nvarchar](10) NOT NULL,
	[TENNXB] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](300) NULL,
	[DIENTHOAI] [nvarchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUMUONSACH]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUONSACH](
	[MAMUON] [nvarchar](10) NOT NULL,
	[MADG] [nvarchar](10) NULL,
	[TINHTRANG] [nvarchar](300) NULL,
	[TIENPHAT] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SACH]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [nvarchar](10) NOT NULL,
	[TENSACH] [nvarchar](100) NULL,
	[MANXB] [nvarchar](10) NULL,
	[MALS] [nvarchar](10) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[HINH] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [nvarchar](10) NOT NULL,
	[TENDN] [nvarchar](100) NULL,
	[MATKHAU] [nvarchar](100) NULL,
	[MALOAI] [int] NULL,
	[MANV] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRASACH]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRASACH](
	[MAMUON] [nvarchar](10) NOT NULL,
	[MASACH] [nvarchar](10) NOT NULL,
	[NGAYTRA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMUON] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETMUONSACH] ([MAMUON], [MASACH], [NGAYMUON], [NGAYSETRA]) VALUES (N'MS001', N'SH007', CAST(N'2019-10-29' AS Date), CAST(N'2019-11-05' AS Date))
INSERT [dbo].[CHITIETMUONSACH] ([MAMUON], [MASACH], [NGAYMUON], [NGAYSETRA]) VALUES (N'MS001', N'SH010', CAST(N'2019-10-29' AS Date), CAST(N'2019-11-05' AS Date))
INSERT [dbo].[CHITIETMUONSACH] ([MAMUON], [MASACH], [NGAYMUON], [NGAYSETRA]) VALUES (N'MS002', N'SH050', CAST(N'2019-07-15' AS Date), CAST(N'2019-07-17' AS Date))
SET IDENTITY_INSERT [dbo].[CHUCVU] ON 

INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (1, N'Nhân viên')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (2, N'Quản lý')
SET IDENTITY_INSERT [dbo].[CHUCVU] OFF
INSERT [dbo].[DOCGIA] ([MADG], [HOTEN], [DIACHI], [GIOITINH], [NGAYSINH], [SDT], [HINH]) VALUES (N'DG001', N'Nguyễn Hoàng Quý', N'226/15 Kha Vạn Cân, Phường Đông Cao, Quận Thủ Đức, TP.HCM', N'Nam', CAST(N'2000-09-29' AS Date), N'0981125876', N'E:\Cong Nghe .Net\DoAn_QuanLyThuVien\DoAnQuanLyThuVien\HinhAnhDG\HinhDG01.jpg')
INSERT [dbo].[DOCGIA] ([MADG], [HOTEN], [DIACHI], [GIOITINH], [NGAYSINH], [SDT], [HINH]) VALUES (N'DG002', N'Nguyễn Văn Bửu', N'113/21 Nguyễn Đình Chiểu, Phường Bến Nghé, Quận 1, TP.HCM', N'Nam', CAST(N'1999-08-17' AS Date), N'0775624118', N'E:\Cong Nghe .Net\DoAn_QuanLyThuVien\DoAnQuanLyThuVien\HinhAnhDG\HinhDG02.jpg')
INSERT [dbo].[DOCGIA] ([MADG], [HOTEN], [DIACHI], [GIOITINH], [NGAYSINH], [SDT], [HINH]) VALUES (N'DG003', N'Cao Thị Thơ', N'42/28 Cao Nhữ Lại, Phường Thị Nghè, Huyện Cái Quan, Vũng Tàu', N'Nữ', CAST(N'2003-06-27' AS Date), N'0925114763', N'E:\Cong Nghe .Net\DoAn_QuanLyThuVien\DoAnQuanLyThuVien\HinhAnhDG\HinhDG03.jpg')
INSERT [dbo].[LOAISACH] ([MALS], [TENLOAI]) VALUES (N'LS001', N'Công nghệ thông tin')
INSERT [dbo].[LOAISACH] ([MALS], [TENLOAI]) VALUES (N'LS002', N'Ngoại ngữ')
INSERT [dbo].[LOAISACH] ([MALS], [TENLOAI]) VALUES (N'LS003', N'Phật Giáo')
SET IDENTITY_INSERT [dbo].[LOAITAIKHOAN] ON 

INSERT [dbo].[LOAITAIKHOAN] ([MALOAI], [TENLOAI], [MACV]) VALUES (1, N'Tài khoản nhân viên', 1)
INSERT [dbo].[LOAITAIKHOAN] ([MALOAI], [TENLOAI], [MACV]) VALUES (2, N'Tài khoản quản lý', 2)
SET IDENTITY_INSERT [dbo].[LOAITAIKHOAN] OFF
INSERT [dbo].[LUONG] ([MAPHAT], [MANV], [NGAYPHAT], [LUONGDM], [SONGAYLAM], [LUONG]) VALUES (N'PH001', N'NV001', CAST(N'2020-02-20' AS Date), 150000, 27, 4050000)
INSERT [dbo].[LUONG] ([MAPHAT], [MANV], [NGAYPHAT], [LUONGDM], [SONGAYLAM], [LUONG]) VALUES (N'PH002', N'NV002', CAST(N'2020-02-23' AS Date), 200000, 29, 5800000)
INSERT [dbo].[LUONG] ([MAPHAT], [MANV], [NGAYPHAT], [LUONGDM], [SONGAYLAM], [LUONG]) VALUES (N'PH003', N'NV003', CAST(N'2020-02-19' AS Date), 150000, 25, 3750000)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [DIACHI], [GIOITINH], [NGAYSINH], [SDT], [NGAYVAOLAM], [HINH], [MACV]) VALUES (N'NV001', N'Nguyễn Văn Cẩn', N'118 Nguyễn Thỉnh Ca, Phường Tân Hiệp, Quận Tân Phú, TP.HCM', N'Nam', CAST(N'1999-07-18' AS Date), N'0971558472', CAST(N'2019-07-25' AS Date), N'E:\Cong Nghe .Net\DoAn_QuanLyThuVien\DoAnQuanLyThuVien\HinhAnhNV\HinhNV01.jpg', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [DIACHI], [GIOITINH], [NGAYSINH], [SDT], [NGAYVAOLAM], [HINH], [MACV]) VALUES (N'NV002', N'Nguyễn Huy Hoàng', N'257/11 Phan Huy Ích, Phường 11, Quận Gò Vấp, TP.HCM', N'Nam', CAST(N'1988-03-19' AS Date), N'077581442', CAST(N'2007-06-22' AS Date), N'E:\Cong Nghe .Net\DoAn_QuanLyThuVien\DoAnQuanLyThuVien\HinhAnhNV\HinhNV02.jpg', 2)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [DIACHI], [GIOITINH], [NGAYSINH], [SDT], [NGAYVAOLAM], [HINH], [MACV]) VALUES (N'NV003', N'Phan Văn Hiển', N'356/44 Trần Văn Hớn, Phường Thị Lân, Xã Vĩnh An, Bình Định', N'Nam', CAST(N'2000-05-21' AS Date), N'099582114', CAST(N'2019-03-16' AS Date), N'E:\Cong Nghe .Net\DoAn_QuanLyThuVien\DoAnQuanLyThuVien\HinhAnhNV\HinhNV03.jpg', 1)
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI], [DIENTHOAI]) VALUES (N'NXB001', N'Nhà xuất bản Kim Đồng', N'22/3 Nam Kỳ Khởi Nghĩa, Phường Đa Kao, Quận 1, TP.HCM', N'0988123456')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI], [DIENTHOAI]) VALUES (N'NXB002', N'Nhà xuất bản văn học', N'117/34 Trần Thị Mai, Phường Bến Nghé, Quận 1, TP.HCM', N'0977547264')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI], [DIENTHOAI]) VALUES (N'NXB003', N'Nhà xuất bản khoa học', N'203/56 Phan Thị Giây, Phường Bình Hưng Hòa, Quận Bình Tân, TP.HCM', N'0776582148')
INSERT [dbo].[PHIEUMUONSACH] ([MAMUON], [MADG], [TINHTRANG], [TIENPHAT]) VALUES (N'MS001', N'DG005', NULL, NULL)
INSERT [dbo].[PHIEUMUONSACH] ([MAMUON], [MADG], [TINHTRANG], [TIENPHAT]) VALUES (N'MS002', N'DG004', NULL, NULL)
INSERT [dbo].[PHIEUMUONSACH] ([MAMUON], [MADG], [TINHTRANG], [TIENPHAT]) VALUES (N'MS003', N'DG002', NULL, NULL)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [MANXB], [MALS], [SOLUONG], [DONGIA], [HINH]) VALUES (N'SH001', N'Sketchup & Vray Trong Thiết Kế 1 Kiến Trúc', N'NXB001', N'LS002', 4, 85000, N'E:\Cong Nghe .Net\DoAn_QuanLyThuVien\DoAnQuanLyThuVien\HinhAnhSP\000001.jpg')
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [MANXB], [MALS], [SOLUONG], [DONGIA], [HINH]) VALUES (N'SH002', N'3DS Max-Thủ Thuật Render Phối Cảnh kiến Trúc Ban Ngày Và Đêm Với V-Ray 1.50 RC3', N'NXB004', N'LS005', 3, 75000, N'E:\Cong Nghe .Net\DoAn_QuanLyThuVien\DoAnQuanLyThuVien\HinhAnhSP\000002.jpg')
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [MANXB], [MALS], [SOLUONG], [DONGIA], [HINH]) VALUES (N'SH003', N'Tự Học InDesign CS3', N'NXB008', N'LS007', 10, 55000, N'E:\Cong Nghe .Net\DoAn_QuanLyThuVien\DoAnQuanLyThuVien\HinhAnhSP\000003.jpg')
INSERT [dbo].[TAIKHOAN] ([MATK], [TENDN], [MATKHAU], [MALOAI], [MANV]) VALUES (N'TK001', N'Can123', N'123', 1, N'NV001')
INSERT [dbo].[TAIKHOAN] ([MATK], [TENDN], [MATKHAU], [MALOAI], [MANV]) VALUES (N'TK002', N'Hoang123', N'456', 2, N'NV002')
INSERT [dbo].[TAIKHOAN] ([MATK], [TENDN], [MATKHAU], [MALOAI], [MANV]) VALUES (N'TK003', N'Hien123', N'123', 1, N'NV003')
INSERT [dbo].[TRASACH] ([MAMUON], [MASACH], [NGAYTRA]) VALUES (N'MS001', N'SH007', CAST(N'2019-11-05' AS Date))
INSERT [dbo].[TRASACH] ([MAMUON], [MASACH], [NGAYTRA]) VALUES (N'MS001', N'SH010', CAST(N'2019-11-05' AS Date))
INSERT [dbo].[TRASACH] ([MAMUON], [MASACH], [NGAYTRA]) VALUES (N'MS002', N'SH050', CAST(N'2019-07-17' AS Date))
ALTER TABLE [dbo].[CHITIETMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_MS_MAMUON] FOREIGN KEY([MAMUON])
REFERENCES [dbo].[PHIEUMUONSACH] ([MAMUON])
GO
ALTER TABLE [dbo].[CHITIETMUONSACH] CHECK CONSTRAINT [FK_MS_MAMUON]
GO
ALTER TABLE [dbo].[CHITIETMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_S_MS] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIETMUONSACH] CHECK CONSTRAINT [FK_S_MS]
GO
ALTER TABLE [dbo].[LOAITAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_LTK_CV] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[LOAITAIKHOAN] CHECK CONSTRAINT [FK_LTK_CV]
GO
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD  CONSTRAINT [FK_LUONG_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[LUONG] CHECK CONSTRAINT [FK_LUONG_NV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_CV] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_CV]
GO
ALTER TABLE [dbo].[PHIEUMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_MS_MADG] FOREIGN KEY([MADG])
REFERENCES [dbo].[DOCGIA] ([MADG])
GO
ALTER TABLE [dbo].[PHIEUMUONSACH] CHECK CONSTRAINT [FK_MS_MADG]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_S_MALS] FOREIGN KEY([MALS])
REFERENCES [dbo].[LOAISACH] ([MALS])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_S_MALS]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_S_MANXB] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXUATBAN] ([MANXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_S_MANXB]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TK_MALOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAITAIKHOAN] ([MALOAI])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TK_MALOAI]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TK_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TK_NV]
GO
ALTER TABLE [dbo].[TRASACH]  WITH CHECK ADD  CONSTRAINT [FK_MAMUON_MASACH] FOREIGN KEY([MAMUON], [MASACH])
REFERENCES [dbo].[CHITIETMUONSACH] ([MAMUON], [MASACH])
GO
ALTER TABLE [dbo].[TRASACH] CHECK CONSTRAINT [FK_MAMUON_MASACH]
GO
ALTER TABLE [dbo].[TRASACH]  WITH CHECK ADD  CONSTRAINT [FK_TS_MAMUON] FOREIGN KEY([MAMUON])
REFERENCES [dbo].[PHIEUMUONSACH] ([MAMUON])
GO
ALTER TABLE [dbo].[TRASACH] CHECK CONSTRAINT [FK_TS_MAMUON]
GO
ALTER TABLE [dbo].[TRASACH]  WITH CHECK ADD  CONSTRAINT [FK_TS_MASACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[TRASACH] CHECK CONSTRAINT [FK_TS_MASACH]
GO
/****** Object:  Trigger [dbo].[CAPNHATTINHTRANGMUONSACH]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CAPNHATTINHTRANGMUONSACH]
ON [dbo].[CHITIETMUONSACH]
FOR INSERT
AS
BEGIN
	DECLARE @MAMS NVARCHAR(10)
	SET @MAMS = (SELECT MAMUON FROM inserted)
	UPDATE PHIEUMUONSACH
	SET TINHTRANG = N'Đang mượn'
	WHERE PHIEUMUONSACH.MAMUON = @MAMS
END
GO
/****** Object:  Trigger [dbo].[CAPNHATTINHTRANGMUONSACHKHIXOA]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CAPNHATTINHTRANGMUONSACHKHIXOA]
ON [dbo].[CHITIETMUONSACH]
FOR DELETE
AS
BEGIN
	DECLARE @MAMS NVARCHAR(10)
	SET @MAMS = (SELECT MAMUON FROM deleted)
	DECLARE @SLMUON INT
	SET @SLMUON = (SELECT COUNT(*) FROM CHITIETMUONSACH WHERE CHITIETMUONSACH.MAMUON = @MAMS)
	DECLARE @SLTRA INT
	SET @SLTRA = (SELECT COUNT(*) FROM TRASACH WHERE TRASACH.MAMUON = @MAMS)
	IF(@SLTRA = @SLMUON)
	BEGIN
		UPDATE PHIEUMUONSACH
		SET TINHTRANG = N'Đã trả'
		WHERE PHIEUMUONSACH.MAMUON = @MAMS
	END		
	IF(@SLMUON = 0)
	BEGIN
		UPDATE PHIEUMUONSACH
		SET TINHTRANG = NULL
		WHERE PHIEUMUONSACH.MAMUON = @MAMS
	END
	UPDATE SACH
	SET SOLUONG = SOLUONG + 1
	WHERE MASACH = (SELECT MASACH FROM inserted)
END

GO
/****** Object:  Trigger [dbo].[THAYDOISOLUONGKHITHEMSACH]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[THAYDOISOLUONGKHITHEMSACH]
ON [dbo].[CHITIETMUONSACH]
FOR INSERT
AS
BEGIN
	UPDATE SACH
	SET SOLUONG = SOLUONG - 1
	WHERE MASACH = (SELECT MASACH FROM inserted)
END

GO
/****** Object:  Trigger [dbo].[XOACHITIETMUONSACH]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[XOACHITIETMUONSACH]
ON [dbo].[CHITIETMUONSACH]
INSTEAD OF DELETE
AS
BEGIN	
	DELETE TRASACH
	WHERE MASACH = (SELECT MASACH FROM deleted) AND MAMUON = (SELECT MAMUON FROM deleted)
	DELETE CHITIETMUONSACH
	WHERE MASACH = (SELECT MASACH FROM deleted) AND MAMUON = (SELECT MAMUON FROM deleted)
END	

GO
/****** Object:  Trigger [dbo].[XOADOCGIA]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[XOADOCGIA]
ON [dbo].[DOCGIA]
INSTEAD OF DELETE
AS
BEGIN
	DELETE PHIEUMUONSACH
	WHERE MADG = (SELECT MADG FROM deleted)
	DELETE DOCGIA
	WHERE MADG = (SELECT MADG FROM deleted)
END	
GO
/****** Object:  Trigger [dbo].[XOASACHLOAISACH]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[XOASACHLOAISACH]
ON [dbo].[LOAISACH]
INSTEAD OF DELETE
AS
BEGIN
	DELETE SACH
	WHERE MALS = (SELECT MALS FROM deleted)
	DELETE LOAISACH
	WHERE MALS = (SELECT MALS FROM deleted)
END	
GO
/****** Object:  Trigger [dbo].[CHECKTUOINHANVIEN]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CHECKTUOINHANVIEN]
ON [dbo].[NHANVIEN]
FOR INSERT, UPDATE
AS
	DECLARE @NGAYSINH DATE
	SET @NGAYSINH = (SELECT NGAYSINH FROM INSERTED)
	IF(DATEDIFF(YEAR,@NGAYSINH,GETDATE())) <= 18
	BEGIN
		PRINT N'ĐỘ TUỔI CỦA NHÂN VIÊN PHẢI LỚN HƠN 18'
		ROLLBACK TRAN
	END

GO
/****** Object:  Trigger [dbo].[XOANHANVIEN]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[XOANHANVIEN]
ON [dbo].[NHANVIEN]
INSTEAD OF DELETE
AS
BEGIN
	DELETE TAIKHOAN
	WHERE MANV = (SELECT MANV FROM deleted)
	DELETE LUONG
	WHERE MANV = (SELECT MANV FROM deleted)
	DELETE NHANVIEN
	WHERE MANV = (SELECT MANV FROM deleted)
END
GO
/****** Object:  Trigger [dbo].[XOASACHNXB]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[XOASACHNXB]
ON [dbo].[NHAXUATBAN]
INSTEAD OF DELETE
AS
BEGIN
	DELETE SACH
	WHERE MANXB = (SELECT MANXB FROM deleted)
	DELETE NHAXUATBAN
	WHERE MANXB = (SELECT MANXB FROM deleted)
END	

GO
/****** Object:  Trigger [dbo].[XOAPHIEUMUON]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[XOAPHIEUMUON]
ON [dbo].[PHIEUMUONSACH]
INSTEAD OF DELETE
AS
BEGIN
	DELETE CHITIETMUONSACH
	WHERE MAMUON = (SELECT MAMUON FROM deleted)
	DELETE TRASACH
	WHERE MAMUON = (SELECT MAMUON FROM deleted)
	DELETE PHIEUMUONSACH
	WHERE MAMUON = (SELECT MAMUON FROM deleted)
END
GO
/****** Object:  Trigger [dbo].[XOASACH]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[XOASACH]
ON [dbo].[SACH]
INSTEAD OF DELETE
AS
BEGIN
	DELETE CHITIETMUONSACH
	WHERE MASACH = (SELECT MASACH FROM deleted)
	DELETE TRASACH
	WHERE MASACH = (SELECT MASACH FROM deleted)
	DELETE SACH
	WHERE MASACH = (SELECT MASACH FROM deleted)
END	
GO
/****** Object:  Trigger [dbo].[CAPNHATTINHTRANGMUONSACHKHITRA]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CAPNHATTINHTRANGMUONSACHKHITRA]
ON [dbo].[TRASACH]
FOR INSERT
AS
BEGIN
	DECLARE @MAMS NVARCHAR(10)
	SET @MAMS = (SELECT MAMUON FROM inserted)
	DECLARE @SLMUON INT
	SET @SLMUON = (SELECT COUNT(*) FROM CHITIETMUONSACH WHERE CHITIETMUONSACH.MAMUON = @MAMS)
	DECLARE @SLTRA INT
	SET @SLTRA = (SELECT COUNT(*) FROM TRASACH WHERE TRASACH.MAMUON = @MAMS)
	IF(@SLTRA = @SLMUON)
	BEGIN
		UPDATE PHIEUMUONSACH
		SET TINHTRANG = N'Đã trả'
		WHERE PHIEUMUONSACH.MAMUON = @MAMS
	END	
END
GO
/****** Object:  Trigger [dbo].[CAPNHATTINHTRANGMUONSACHKHIXOATRA]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CAPNHATTINHTRANGMUONSACHKHIXOATRA]
ON [dbo].[TRASACH]
FOR DELETE
AS
BEGIN
	DECLARE @MAMS NVARCHAR(10)
	SET @MAMS = (SELECT MAMUON FROM deleted)
	DECLARE @SLMUON INT
	SET @SLMUON = (SELECT COUNT(*) FROM CHITIETMUONSACH WHERE CHITIETMUONSACH.MAMUON = @MAMS)
	DECLARE @SLTRA INT
	SET @SLTRA = (SELECT COUNT(*) FROM TRASACH WHERE TRASACH.MAMUON = @MAMS)
	IF(@SLTRA != @SLMUON)
	BEGIN
		UPDATE PHIEUMUONSACH
		SET TINHTRANG = N'Đang mượn'
		WHERE PHIEUMUONSACH.MAMUON = @MAMS
	END
	
END
GO
/****** Object:  Trigger [dbo].[CAPNHATTINHTRANGMUONSACHKHIXOATRA1]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CAPNHATTINHTRANGMUONSACHKHIXOATRA1]
ON [dbo].[TRASACH]
FOR DELETE
AS
BEGIN
	UPDATE SACH
	SET SOLUONG = SOLUONG - 1
	WHERE MASACH = (SELECT MASACH FROM inserted)
END

GO
/****** Object:  Trigger [dbo].[THAYDOISOLUONGKHITRASACH]    Script Date: 12/28/2020 10:05:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[THAYDOISOLUONGKHITRASACH]
ON [dbo].[TRASACH]
FOR INSERT
AS
BEGIN
	UPDATE SACH
	SET SOLUONG = SOLUONG + 1
	WHERE MASACH = (SELECT MASACH FROM inserted)
END

GO
